/* color palette from <https://github.com/vuejs/theme> */
:root {
  --background: #fefff9;
  --black: #161617;
  --orange: #ff8a1e;
  --yellow: #ffc62a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html, body {margin: 0; height: 100%; }
h1 {
  color: var(--black, #161617);
  font-family: Baloo;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 81.4%;
}

h2 {
  color: var(--black, #161617);
  font-family: Baloo;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130.9%;
}

h3 {
  color: var(--black, #161617);
  font-family: Futura PT;
  font-size: 1.56rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  color: var(--black, #161617);
  font-family: Futura PT;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
